{% extends "layout.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}

<div id="892192282900047604" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%2333ccff&amp;src=a3bisjjpd2teio2v171se9731c%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>

{% endblock %}
