{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<h2 style="text-align:left;">Contacts:&nbsp;</h2>
<div class="paragraph" style="text-align:left;display:block;">
<font color="#000000">
<b>General:</b> calorigami@gmail.com</font><br />
<font color="#000000"><b>Donations:</b> calorigamidonate@gmail.com</font><br /><br />

<a href="https://www.facebook.com/groups/calorigami/" target="_blank" title=""><img src="{{url_for('static', filename='img/facebook.png')}}" style='height:32px; width:32px;'></a>
<a href="http://picasaweb.google.com/110944485884039343860" title=""><img src="{{url_for('static', filename='img/picasa.png')}}" style='height:32px; width:32px;'></a>
<p><p>

Feel free to contact us with any questions you may have. We're also active on the Facebook group, though that venue is a bit more informal.
</div>


{% endblock %}