{% extends "layout.html" %}

{% block title %}EBOC{% endblock %}

{% block content %}

<head>
    <style>
    table {
    border-collapse: collapse;
    }
    table, td, th {
    border: 1px solid black;
    }

    td, th {
    text-align: center;
    height: 30px;
    }

    </style>
</head>

<h2 style="text-align:left;">East Bay Origami Convention 2018</h2>

<!-- EBOC Flyer to the right -->
<div style='float:right;'><img src="{{url_for('static', filename='uploads/2017-2018/EBOC_2018_flyer.png')}}"  style='height: 440px; width: 340px; margin-left: 20px;'></div>

<p>
The East Bay Origami Convention is an origami convention held at UC Berkeley.
We are currently doing our best to create a low-cost, amazing event for the many origami enthusiasts in the area.
This page will be updated as more details come in!
</p>

<div style='width: 460px; margin-top: 10px'>
    <b><font size="3">GENERAL INFORMATION</font></b><br />
    <div style="margin-left: 10px">
        <div style="padding: 5px"></div>
        <strong>Date & Time</strong>
        <span style='display: block; margin: 0px 0px 15px 15px'>
            Sunday, March 18th, 2018<br>
        </span>

        <strong>Location</strong>
        <span style='display: block; margin: 0px 0px 15px 15px'>
            Anna Head Alumnae Hall<br>
            2537 Haste Street<br>
            Berkeley, CA
        </span>

        <strong>Events</strong>
        <ul style='display: block; margin: 0px 0px 15px 15px'>
            <li>Lectures</li>
            <li>Model Teachings</li>
            <li>Origami Games</li>
            <li>Model Exhibitions</li>
        </ul>

        <strong>Tickets</strong>
        <ul style='display: block; margin: 0px 0px 15px 15px'>
            <li>General Admission: $15</li>
            <li>Early Registration: $12</li>
        </ul>
    </div>
</div>

<div style='clear:both;'></div>

<div style='width: 700px; float: left'>

    <p>
        <strong><font size="3">REGISTRATION</font></strong><br />
        Pre-registration is open! Please register for EBOC 2018 here.
        <form method="GET" action="http://eboc2018.eventbrite.com/">
            <button type="submit">Register for EBOC here</button>
        </form>
	</p>


    <!-- <p>
        <b><font size="3">VOLUNTEERING</font></b><br>
        We are looking for a small number of volunteers to help facilitate different aspects of the convention during the day.  If you're interested, please apply by clicking the button and filling out the form. Thank you!
        <form method="GET" action="/eboc-volunteer">
            <button type="submit">Volunteer for EBOC here</button>
        </form>
    </p> -->

    <p>
        <strong><font size="3">INSTRUCTORS</font></strong><br /> Our convention could not be possible without our instructors, who will be leading workshops and lectures throughout the day.
        We are very fortunate to have the following honored guests teaching at our convention:
        <ul>
            <li>Robert Lang</li>
            <li>Bernie Peyton</li>
            <li>Caryn Lum</li>
            <li>Glenn Sapaden</li>
            <li>Kayo Kurata</li>
            <li>Emily Wong</li>
            <li>Peter Engel</li>
            <li>Andrea Hawksley</li>
            <li>Eunice Lew</li>
            <li>Laikea Melcher</li>
            <li>Chris Randall</li>
        </ul>
	</p>

    <p>
        <strong><font size="3">SCHEDULE</font></strong><br />
        <table>
            <col style="width:8%">
            <col style="width:46%">
            <col style="width:46%">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Ground Floor</th>
                    <th>On Stage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10:00 AM</td>
                    <td colspan="2"><b>Check In and Announcements</b></td>
                </tr>
                <tr>
                    <td>10:30 AM</td>
                    <td rowspan="4"><b>Peter Engel - Persian Horse</b> (Advanced)</td>
                    <td rowspan="2"><b>Andrea Hawksley - Business Card Rhombicuboctahedron</b> (Intermediate) </td>
                </tr>
                <tr>
                    <td>11:00 AM</td>
                </tr>
                <tr>
                    <td>11:30 AM</td>
                    <td rowspan="2"><b>Kayo Kurata - 2 Piece Collapsible Box</b> (Intermediate)</td>
                <tr>
                    <td>12:00 PM</td>
                </tr>
                <tr>
                    <td>12:30 PM</td>
                    <td rowspan="2" colspan="2"><b>Lunch</b></td>
                </tr>
                <tr>
                    <td>1:00 PM</td>
                </tr>
                <tr>
                    <td>1:30 PM</td>
                    <td rowspan="4"><b>Robert Lang - Mary Anne Butterfly</b> (Advanced)</td>
                    <td><b>Emily Wong - Fish</b> (Easy) </td>
                </tr>
                <tr>
                    <td>2:00 PM</td>
                    <td rowspan="3"><b>Eunice Lew - Little Book</b> (Intermediate)</td>
                </tr>
                <tr>
                    <td>2:30 PM</td>
                </tr>
                <tr>
                    <td>3:00 PM</td>
                </tr>
                <tr>
                    <td>3:30 PM</td>
                    <td rowspan="3"><b>Bernie Peyton - Panda</b> (Advanced)</td>
                    <td rowspan="2"><b>Paikea Melcher - Squishy Blob</b> (Intermediate)</td>
                </tr>
                <tr>
                    <td>4:00 PM</td>
                </tr>
                <tr>
                    <td>4:30 PM</td>
                    <td rowspan="2"><b>Chris Randall - Hummingbird</b> (Intermediate)</td>
                </tr>
                <tr>
                    <td>5:00 PM</td>
                    <td><b>Leisure Folding</b></td>
                </tr>
                <tr>
                    <td>5:30 PM</td>
                    <td rowspan="2"><b>Glenn Sapaden - Dollar Rooster</b> (Intermediate)</td>
                    <td rowspan="2"><b>Caryn Lum - Snake Envelope</b> (Intermediate)</td>
                </tr>
                <tr>
                    <td>6:00 PM</td>
                </tr>
                <tr>
                    <td>6:30 PM</td>
                    <td colspan="2"><b>Ending Ceremony</b></td>
                </tr>
            </tbody>
        </table>
    </p>

    <p>
        <b><font size="3">DISPLAYING A MODEL</font></b><br>
        If you're interested in submitting a model, models do not have to be original. As long as proper documentation is provided,
        such as the <b>name and author of the model</b>, and the <b>folder's name</b>, you may bring any model to the convention to display. <br />
    </p>

    <p>
        <b><font size="3">TRANSPORTATION & PARKING</font></b><br>
        The cheapest method of transportation we recommend is taking the BART to Downtown Berkeley, then the 51B bus to Durant Ave/Telegraph Ave and walking to Anna Head from there.
        However, if you are driving, there are parking spots next to meters around the city that are free on the day of the event as well as garages at Telegraph Ave/Channing Way and Haste St./College Ave where the cost is no more than $20 if you're staying for the entirety of the event.
    </p>

    <p>
        <b><font size="3">FOOD</font></b><br>
        Unfortunately, food will not be provided at the event.  However, there are a wide variety of great restaurants on Telegraph Ave near the venue.
        We will be providing a list of recommended places to eat at on the day of the event!
    </p>

    <!-- <p style="display: inline-block; margin: 0px; width: 518px">
	    <strong><font size="3">CONVENTION BOOK</font></strong><br />
        We are going to have a&nbsp;<strong style="">Convention Book&nbsp;</strong>this year!
        We compiled diagrams and crease patterns from many contributors to create a fantastic convention book this year.
        Although they will not arrive in time, they will be available for purchase at the convention and we will be shipping them out afterwards.
        If you would like to order a book but are not attending the convention, email us at <font color="#3333ff"><strong><u><a href="mailto:eastbayorigamicon@gmail.com">eastbayorigamicon@gmail.com</a></u></strong></font>.<br>
    </p> -->

    <!-- <p>
        <strong><font size="3">TEACHING</font></strong><br />
        If you would like to volunteer as an instructor for EBOC 2018 or would like to submit models for the convention book, please contact us!
	</p> -->

    <p>
        <strong><font size="3">SPONSORSHIP</font></strong><br />We are looking for sponsors for our organization, and in return, we will add your logo and information to our advertisement materials.
        We will accept both money and material donations. If you are interested, please email us directly at <font color="#3333ff"><strong><u><a href="mailto:eastbayorigamicon@gmail.com">eastbayorigamicon@gmail.com</a></u></strong></font>.<br>
	</p>


	<!-- end volunteering to sponsorship div --></div>


<div style="clear:both; "></div>

{% endblock %}
