ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
}
fieldset{
    border:0;
}
a img{
    border:0;
}
.clear{
    clear:both;
}

body {
    background: #3D3D3D;
    font-family: Trebuchet MS, arial, sans-serif;
    font-size:14px;
    color:#273b4a;
    height: 100%;
    margin:0;
    padding:0;
}

a{
    color: #305b8f;
    text-decoration: none;
}
p {
    line-height: 130%;
    color: #273b4a;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}
h1 {
    font-size:24px;
    color:#273b4a;
    line-height:1.5;
    padding: 5px 0px 5px 0px;
}
h2 {
    font-size:20px;
    color:#273b4a;
    line-height:1.5;
    padding: 5px 0px 5px 0px;
}

#wrapper {
    padding: 0px 0px 16px 0px;
    background: #292826;
}

#container{
    padding-top: 20px;
    width: 960px;
    margin: 0 auto;
}

#navigation{
    position: relative;
    width: 960px;
    height: 38px;
    z-index: 2;
    background: url(../img/spacing.png) repeat;
}

#navigation li{
    float: left;
    z-index: 2;
}

#navigation li a{
    position: relative;
    display: block;
    height: 28px;
    color: #fff;
    float: left;
    z-index: 2;
    padding: 10px 18px 0px 18px;
    font-size: 14px;
    text-decoration: none;
}

#navigation li a:hover, #navigation li#active a{
    color: #fff;
    background: #666;
    text-decoration: none;
}

#header{
    position: relative;
    width: 960px;
    height: 270px;
    z-index: 1;
    margin: 9px 0px 9px 0px;
    background-image: url("../uploads/header_images/1318203853.png") !important;
    background-position: 0 0 !important;
}

#content{
    width: 914px;
    height:auto !important;
    min-height:400px;
    background: #efe8dc;
    border-bottom: 1px solid #cecece;
    padding: 20px 23px 20px 23px;
    overflow:hidden;
}

#footer {
  width: 930px;
  padding: 10px 5px 10px 25px;
  margin: 16px 0px 0px 0px;
  overflow: hidden;
  background: url(../img/spacing.png) repeat;
}

#footertext {
  width: 815px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
}

#ocf {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}
