{% extends "layout.html" %}

{% block title %}Humanoid Crane{% endblock %}

{% block content %}

<h2 style="text-align:left;">Check out a timelapse video of the folding process <a href="https://youtu.be/6qnEkxpIB8o">here.</a></</h2>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
    <table class='wsite-multicol-table'>
        <tbody class='wsite-multicol-tbody'>
            <tr class='wsite-multicol-tr'>
                <td class='wsite-multicol-col' style='width:33.12101910828%;padding:0 15px'>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/1.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/1.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/2.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/2.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/3.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/3.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/4.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/4.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                </td>
                <td class='wsite-multicol-col' style='width:33.12101910828%;padding:0 15px'>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/6.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/6.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/7.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/7.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/9.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/9.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                </td>
                <td class='wsite-multicol-col' style='width:33.12101910828%;padding:0 15px'>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/10.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/10.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/happylam.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/happylam.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                  <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                      <a href="{{url_for('static', filename='uploads/Giant_crane/tiredlam.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                          <img src="{{url_for('static', filename='uploads/Giant_crane/tiredlam.jpg')}}"alt="Picture" style="width:auto;max-width:100%" />
                      </a>
                      <div style="display:block;font-size:90%"></div>
                  </div></div>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- <div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
        <table class='wsite-multicol-table'>
            <tbody class='wsite-multicol-tbody'>
                <tr class='wsite-multicol-tr'>
                    <td class='wsite-multicol-col' style='width:25%;padding:0 15px'>

                      <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center; transform:rotate(90deg);">
                          <a href="{{url_for('static', filename='uploads/Giant_crane/5.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                              <img src="{{url_for('static', filename='uploads/Giant_crane/5.jpg')}}"alt="Picture" style="width:50" />
                          </a>
                          <div style="display:block;font-size:90%"></div>
                      </div></div>

                      <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center; transform:rotate(90deg);">
                          <a href="{{url_for('static', filename='img/Giant_crane.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                              <img src="{{url_for('static', filename='img/Giant_crane.jpg')}}"alt="Picture" style="width:50" />
                          </a>
                          <div style="display:block;font-size:90%"></div>
                      </div></div>

                      <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center; transform:rotate(90deg);">
                          <a href="{{url_for('static', filename='uploads/Giant_crane/8.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                              <img src="{{url_for('static', filename='uploads/Giant_crane/8.jpg')}}"alt="Picture" style="width:50" />
                          </a>
                          <div style="display:block;font-size:90%"></div>
                      </div></div>

                      <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center; transform:rotate(90deg);">
                          <a href="{{url_for('static', filename='uploads/Giant_crane/11.jpg')}}" rel='lightbox' onclick='if (!lightboxLoaded) return false'>
                              <img src="{{url_for('static', filename='uploads/Giant_crane/11.jpg')}}"alt="Picture" style="width:50" />
                          </a>
                          <div style="display:block;font-size:90%"></div>
                      </div></div>

                    </td>
                </tr>
            </tbody>
        </table> -->

</div></div></div>



{% endblock %}
