<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Cal Origami</title>
    <meta name='description' content='Cal Origami'/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main_style.css') }}">
</head>

<body>
<div id="wrapper">
    <div id="container">       
        <div id="navigation">
            <ul>
            <li><a href='index'>Home</a></li>
            <li><a href='eboc'>EBOC</a></li>
            <li><a href='calendar'>Calendar</a></li>
            <li><a href='events'>Events</a></li>
            <li><a href='projects'>Projects</a></li>
            <li><a href='join'>Join</a></li>
            <li><a href='officers'>Officers</a></li>
            <li><a href='donate'>Donate</a></li>
            <li><a href='contact'>Contact</a></li>
            <li><a href='about-us'>About Us</a></li>
            </ul>
        </div>

    <div id="header"></div>
        

        
        <div id="content">
            {% block content %}{% endblock %}
        </div>



        <div id="footer">
            Check us out on <a href='https://www.facebook.com/groups/calorigami/' style='color: #ffff00;'>Facebook</a>!
            <br>

            We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.
            <div id="ocf">
                <a href="https://www.ocf.berkeley.edu">
                <img src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8darkglow.png"
                    alt="Hosted by the OCF" style="border: 0;" />
                </a>
            </div>
 
        </div>
     </div>
</div>


</body>
</html>
