{% macro nav_link(endpoints, name) %}
    {% set active_endpoint = false %}
    {% for endpoint in endpoints %}
        {% if request.path == (endpoint) or request.path == (endpoint ~ ".html") %}
            <div>test</div>
            <li class="nav-item active"><a class="nav-link" href="{{ endpoints[0] }}">{{name}}</a></li>
            {% set active_endpoint = true %}
        {% endif %}
    {% endfor %}
    {% if not active_endpoint %}
        <li class="nav-item"><a class="nav-link" href="{{ endpoints[0] }}">{{name}}</a></li>
    {% endif %}
{% endmacro %}

<nav class="navbar navbar-expand-lg navbar-light" id="nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div id="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {{ nav_link(['index', '/'], 'Home') }}
            {{ nav_link('/events', 'Past Events') }}
            <!-- <li class="nav-item"><a class="nav-link" href='index'>Home</a></li> -->
            <li class="nav-item {% if request.endpoint == '/events' %}active{% endif %}">{{ request.path }}<a class="nav-link" href='events'>Past Events</a></li>
            <li class="nav-item"><a class="nav-link" href='officers'>Officers</a></li>
            <li class="nav-item"><a class="nav-link" href='contact'>Contact</a></li>
            <li class="nav-item"><a class="nav-link" href='about-us'>About Us</a></li>
            <li class="nav-item"><a class="nav-link" href='donate'>Donate</a></li>
        </ul>
    </div>
</nav>