{% extends "layout.html" %}

{% block title %}Officers{% endblock %}

{% block content %}

<h2 style="text-align:left;">Officers</h2>

<div><div class="wsite-multicol"><div style='padding-right:1.2%'><div class='wsite-multicol-table-wrap' style='margin:0 -5px'>

<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:49.5%;padding:0 5px'>

<!-- <h2 style="text-align:left;">Daniel Ma</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/daniel.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> President<br />
<b>Year:</b> 3rd<br />
<b>Major:</b> Computer Science<br />
<b>Other:</b> I am a sleep potato.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr> -->

<!-- <h2 style="text-align:left;"> Brian Tam</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img style="width:150px;" class="wsite-image galleryImageBorder" src="{{url_for('static', filename='uploads/2017-2018/EBOC_2018_flyer.png')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Social Chair<br />
<b>Year:</b> 3rd<br />
<b>Major:</b> Civil Engineering<br />
<b>Other:</b> I love boardgames, anime, and of course... origami!</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr> -->

<!-- <h2 style="text-align:left;"> Michael Yang<br /></h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img style="width:150px;" class="wsite-image galleryImageBorder" src="{{url_for('static', filename='uploads/2016-2017/11-13-16_EBOC_banner.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Graphics/Publicity<br />
<b>Year:</b> 2nd<br />
<b>Major:</b> Civil Engineering<br />
<b>Other:</b> <br>
<hr style="clear:both;visibility:hidden;width:100%;"></hr> -->

<!-- <h2 style="text-align:left;"> Lam Nguyen</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/lam2.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Webmaster<br />
<b>Year:</b> 3rd<br />
<b>Major:</b> Electrical Engineering and Computer Science<br />
<b>Other:</b> I'm also a part of CalSol</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr> -->

<h2 style="text-align:left;">Melissa</h2>
<!-- <span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/daniel.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span> -->
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> President<br />
<b>Year:</b> 3rd<br />
<b>Major:</b> Molecular Environmental Biology<br />
<b>Other:</b> I am pre-vet and love animals!<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Chris</h2>
<!-- <span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/daniel.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span> -->
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Vice President<br />
<b>Year:</b> 3rd<br />
<b>Major:</b> Mathematics<br />
<b>Other:</b> Red panda enthusiast<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Isaac</h2>
<!-- <span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/daniel.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span> -->
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Secretary<br />
<b>Year:</b> 4th<br />
<b>Major:</b> Mathematics<br />
<b>Other:</b> Tomatoes are really tasty and Peppa Pig is iconic.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Gracie</h2>
<!-- <span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/daniel.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span> -->
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Webmaster<br />
<b>Year:</b> 2nd<br />
<b>Major:</b> Molecular and Cell Biology<br />
<b>Other:</b> Loves classical music<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

</td>
<td class='wsite-multicol-col' style='width:49.5%;padding:0 5px'>

  <h2 style="text-align:left;">Abhik</h2>
  <!-- <span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/daniel.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span> -->
  <div class="paragraph" style="text-align:left;display:block;">
  <b>Position:</b> Publicity<br />
  <b>Year:</b> 1st<br />
  <b>Major:</b> CS and Mathematics<br />
  <b>Other:</b> I like taking photos of stuff<br /></div>
  <hr style="clear:both;visibility:hidden;width:100%;"></hr>

  <h2 style="text-align:left;">Anna</h2>
  <!-- <span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/daniel.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span> -->
  <div class="paragraph" style="text-align:left;display:block;">
  <b>Position:</b> Social<br />
  <b>Year:</b> 1st<br />
  <b>Major:</b> Materials Science and Engineering<br />
  <b>Other:</b> Vegetal and tea (the drinking kind) aficionado<br /></div>
  <hr style="clear:both;visibility:hidden;width:100%;"></hr>

  <h2 style="text-align:left;">Theodor</h2>
  <!-- <span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/daniel.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span> -->
  <div class="paragraph" style="text-align:left;display:block;">
  <b>Position:</b> Historian<br />
  <b>Year:</b> 1st<br />
  <b>Major:</b> Engineering Undeclared<br />
  <b>Other:</b> I like dragons<br /></div>
  <hr style="clear:both;visibility:hidden;width:100%;"></hr>

  <h2 style="text-align:left;">Kelly</h2>
  <!-- <span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px;'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/daniel.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span> -->
  <div class="paragraph" style="text-align:left;display:block;">
  <b>Position:</b> EBOC<br />
  <b>Year:</b> 1st<br />
  <b>Major:</b> MCB<br />
  <b>Other:</b> I play 4 instruments<br /></div>
  <hr style="clear:both;visibility:hidden;width:100%;"></hr>

<!-- <h2 style="text-align:left;">Jane Wu</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/jane2.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Treasurer<br />
<b>Year:</b> 4th<br />
<b>Major:</b> Architecture<br />
<b>Other:</b> I'm a dog person but I really enjoy cat collecting games.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr> -->

<!-- <h2 style="text-align:left;"> Stella Te<br /></h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/stella2.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Historian<br />
<b>Year:</b> 4th<br />
<b>Major:</b> Civil Engineering<br />
<b>Other:</b> <br>
<hr style="clear:both;visibility:hidden;width:100%;"></hr> -->

<!-- <h2 style="text-align:left;">Wesley Guo</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/wesley2.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> President<br />
<b>Year:</b> 4th<br />
<b>Major:</b> Mechanical Engineering<br />
<b>Other:</b> I play in Cal Band, performed at Super Bowl 50 :D</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr> -->

<!-- <h2 style="text-align:left;">Kalon Cheung</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/kalon2.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Vice President<br />
<b>Year:</b> 4th<br />
<b>Major:</b> Electrical Engineering and Computer Science<br />
<b>Other:</b> I also enjoy doing technical theater work, specifically the lighting aspect of it. <br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr> -->

</td>
</tr>
</tbody>
</table>
</div></div></div></div>
{% endblock %}
