{% extends "layout.html" %}

{% block title %}Officers{% endblock %}

{% block content %}

<div><div class="wsite-multicol"><div style='padding-right:1.2%'><div class='wsite-multicol-table-wrap' style='margin:0 -5px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:49.5%;padding:0 5px'>

<h2 style="text-align:left;">Tiffany Hwu</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/tiff.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Co-President<br />
<b>Year:</b> 4th<br />
<b>Major:</b> Cognitive Science/Computer Science<br />
<b>Other:</b>  I once crocheted a bookmark out of human hair. I also play the bells at the Campanile.&nbsp;</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;">Jessica Yu</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/jess.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Co-Vice President<br />
<span style='font-size:11px'>Finance, Graphics Design, & Webmaster</span><br>
<b>Year:</b> 4th<br />
<b>Major:</b> Business Administration<br />
<b>Other:</b> I started folding origami when I was four years old! However, that's the only boast-worthy thing I can say about my origami skills.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

</td>
<td class='wsite-multicol-col' style='width:49.5%;padding:0 5px'>

<h2 style="text-align:left;">Scott Okamura<br /></h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/scotchy.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Co-President<br />
<b>Year:</b> 4th<br />
<b>Major:</b> Mathematics<br />
<b>Other:</b> I do kendo and I'm blood type A.<br>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>


<h2 style="text-align:left;">Lawrence Zhang</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='img/lawr.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
<b>Position:</b> Co-Vice President&nbsp;<br />
<b>Year:</b> 2nd<br />
<b>Major:</b> Molecular and Cell Biology<br />
<b>Other:</b> I also do Taiji and Wushu.</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>


</td>
</tr>
</tbody>
</table>
</div></div></div></div>
{% endblock %}