{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

<div><div class="wsite-multicol"><div style='padding-right:1.2%'><div class='wsite-multicol-table-wrap' style='margin:0 -5px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<!-- <td class='wsite-multicol-col' style='width:49.5%;padding:0 5px'> -->

<!-- <h2 style="text-align:left;">Future Projects</h2>

<h2 style="text-align:left;">Origami in the Community</h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='uploads/960838056.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">We will be traveling to schools in the Bay area to teach simple pieces of origami to students. Origami is not only a beautiful art but also a therapeutic pastime as it relieves stress and helps mitigate ADHD and bipolar disorder with regular folding. Join us to get to know students as well as serve the community.<br /></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

</td> -->
<td class='wsite-multicol-col' style='width:75%;padding:0 5px'>

<h2 style="text-align:left;">Finished Projects</h2>

<h2 style="text-align:left;"><a href="giantcrane">Life-Sized Humanoid Crane</a></h2>
<div class="paragraph" style="text-align:left;display:block;"> &nbsp;&nbsp;For Cal Day 2019, Cal Origami folded a humanoid crane out of a 12 by 12 foot piece of paper!</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;"><a href="2016-2017">Giant Chess Set</a></h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a href='2016-2017'><img style="width:250px;" class="wsite-image galleryImageBorder" src="{{url_for('static', filename='uploads/2016-2017/chess2.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;"> &nbsp;&nbsp;For Cal Day 2016, Cal Origami created a massive, complete chess set!</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;"><a href="2011-2012">Huge Issei T-Rex Skeleton</a></h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a href='2011-2012'><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='uploads/5107112.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">On Saturday, February 4th, Cal Origami completed a 10'7'' T-Rex skeleton... with a top hat!</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;"><a href="2010---2011" title="">Huge Modular&nbsp;</a></h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a href='2010---2011'><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='uploads/5386318.jpg')}}"  style="margin-top: 0px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">&nbsp;&nbsp;Pictures under "Events"&nbsp;</div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

<h2 style="text-align:left;"><a href="2010---2011" title="">Thousand Cranes</a></h2>
<span class='imgPusher' style='float:left;height:0px'></span><span style='position:relative;float:left;z-index:10;;clear:left;margin-top:0px;*margin-top:0px'><a href='2010---2011'><img class="wsite-image galleryImageBorder" src="{{url_for('static', filename='uploads/8716962.jpg')}}"  style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" /></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">Based on the ancient Japanese legend that folding a thousand cranes will grant the folder one wish, we will be folding a thousand cranes to donate to a children&rsquo;s hospital. Simple and easy to do, the thousand cranes will also hopefully be a source of inspiration and brightness to those who need it. Additional pictures under <a href="2010---2011">"Events"&nbsp;</a></div>
<hr style="clear:both;visibility:hidden;width:100%;"></hr>

</td>
</tr>
</tbody>
</table>
</div></div></div></div>

{% endblock %}
