{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<h2 style="text-align:left;">Contacts:&nbsp;</h2>
<div class="paragraph" style="text-align:left;display:block;">
<font color="#000000">
<b>General:</b> calorigami@gmail.com<br />
<b>Donations:</b> calorigamidonate@gmail.com<br />
<b>Facebook group:</b> https://www.facebook.com/groups/calorigami/<br />
<b>Facebook page:</b> https://www.facebook.com/calorigami/<br />
<b>Instagram page:</b> https://www.instagram.com/calorigami/<br />
<b>Join our email list:</b> tinyurl.com/CALO-email-list</font><br /><br />

<a href="https://www.facebook.com/groups/calorigami/" target="_blank" title=""><img src="{{url_for('static', filename='img/facebook.png')}}" style='height:32px; width:32px;'></a>
<a href="https://www.instagram.com/calorigami/" target="_blank" title=""><img src="{{url_for('static', filename='img/Insta.png')}}" style='height:32px; width:32px;'></a>
<p><p>

Feel free to contact us with any questions you may have!
</div>


{% endblock %}
