{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="d-flex flex-column container mt-4">
    <h1 class="ms-auto me-auto title">Contact</h1>

    <div>
        <b>General:</b> calorigami@gmail.com<br />
        <b>Donations:</b> calorigamidonate@gmail.com<br />
        <b>Facebook group:</b> https://www.facebook.com/groups/calorigami/<br />
        <b>Facebook page:</b> https://www.facebook.com/calorigami/<br />
        <b>Instagram page:</b> https://www.instagram.com/calorigami/<br />
        <b>Join our email list:</b> tinyurl.com/CALO-email-list<br /><br />

        <a href="https://www.facebook.com/groups/calorigami/" target="_blank" title=""><img src="{{url_for('static', filename='img/facebook.png')}}"></a>
        <a href="https://www.instagram.com/calorigami/" target="_blank" title=""><img src="{{url_for('static', filename='img/Insta.png')}}"></a>

        Feel free to contact us with any questions you may have!
    </div>
</div>


{% endblock %}
