{% extends "layout.html" %}

{% block title %}Events{% endblock %}

{% block content %}

<div class="d-flex flex-column container mt-4">
  <h1 class="ms-auto me-auto title">Events</h1>

    <div><div><div>
        <table>
            <tbody>
                <tr>
                    <td>

                        <h2><a href="2016-2017">2016-2017</a></h2>
                            <div><div>
                            <a href='2016-2017'>
                                <img src="{{url_for('static', filename='uploads/2016-2017/11-13-16_EBOC_banner.jpg')}}"  alt="Picture"/>
                            </a>
                            <div></div>
                        </div></div>

                    </td>

                    <td>

                        <h2><a href="2011-2012">2011-2012</a></h2>

                        <div><div>
                            <a href='2011-2012'>
                                <img src="{{url_for('static', filename='uploads/9708308_orig.jpg')}}"  alt="Picture"/>
                            </a>
                            <div></div>
                        </div></div>

                    </td>
                    <td>

                        <h2><a href="2010---2011">2010-2011</a></h2>

                        <div><div>
                            <a href='2010---2011'>
                                <img src="{{url_for('static', filename='uploads/1242188_orig.jpg')}}"  alt="Picture"/>
                            </a>
                            <div></div>
                        </div></div>

                    </td>

                </tr>
            </tbody>
        </table>
    </div></div></div>
</div>

{% endblock %}
