{% extends "layout.html" %}

{% block title %}Events{% endblock %}

{% block content %}

<!-- Libraries/Styling -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/events.css') }}">

<div class="d-flex flex-column container mt-4">
  <h1 class="ms-auto me-auto title">Events</h1>

    <div class="d-flex flex-row flex-wrap ms-auto me-auto mb-4 justify-content-around" id="events-container">

        <a href='2016-2017'>
            <div class="event card shadow m-3">
                <img src="{{url_for('static', filename='uploads/2016-2017/11-13-16_EBOC_banner.jpg')}}"  alt="Picture" class="card-img-top"/>
                <div class="card-body">
                    <h2>2016-2017</h2>
                </div>
            </div>
        </a>

        <a href='2011-2012'>
            <div class="event card shadow m-3">
                <img src="{{url_for('static', filename='uploads/9708308_orig.jpg')}}"  alt="Picture" class="card-img-top"/>
                <div class="card-body">
                    <h2>2011-2012</h2>
                </div>
            </div>
        </a>


        <a href='2010-2011'>
            <div class="event card shadow m-3">
                <img src="{{url_for('static', filename='uploads/1242188_orig.jpg')}}"  alt="Picture" class="card-img-top"/>
                <div class="card-body">
                    <h2>2010-2011</h2>
                </div>
            </div>
        </a>

    </div>
</div>

{% endblock %}
