{% extends "layout.html" %}

{% block title %}Officers{% endblock %}

{% block content %}

<h1>Officers</h1>


<table>
  <tbody>
  {% for officer in officer_list %}
    {% if loop.index % 2 == 1 %}
    <tr>
    {% endif %}
      <td>
        <h2>{{ officer.name }}</h2>
        <div>
          <b>Position:</b> {{ officer.position }}<br />
          <b>Year:</b> {{ officer.year }}<br />
          <b>Major:</b> {{ officer.major }}<br />
          <b>Other:</b> {{ officer.other }}<br />
        </div>
      </td>
    {% if loop.index % 2 == 0 %}
    <tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endblock %}
